# Ignore Git
/.git/
/.gitignore

# Ignore venv
/venv/

# Ignore IDE files
/.vscode/
/.idea/

# Ignore tests and python temp files
.pytest_cache/
__pycache__/
*__pycache__/
/__pycache__/
*.py[cod]
*~

# Ignore deploy files
/deploy/
/Makefile

# Ignore markdown files
*.md

# Ignore logs files
*.log

# linter
.pylintrc
.mypy_cache
/.ruff_cache/

# toml
/pyproject.toml

/backup
/secrets/*/server.pem
