# Ignore venv
/venv/

# Ignore IDE files
/.vscode/
/.idea/
/deploy/

# Ignore tests and python temp files
.pytest_cache/
__pycache__/
*.py[cod]
*~

# Ignore retry files
*.retry

# Ignore secrets files
.env
/secrets/
/secrets/**.example


# Ignore logs files
*.log

# linter
/.ruff_cache/
.mypy_cache
